## <span style="color:#D47FAC;"> <center>Pythagorean triplets - list nr 2 </center> </span>

##### Authors: Jakubik Małgorzata, Szymkowiak Magdalena

In [139]:
import math
import time

#### Brute-Force method - trying every possibility

In [ ]:
def pytha_triplet(nums_sum:int):  #n^3
    operation_count=0
    for a in range(1,nums_sum):
        for b in range(1,nums_sum):
            for c in range(1,nums_sum):
                operation_count+=9
                if a**2 + b**2 == c**2 and a+b+c==nums_sum:
                    return(True,a,b,c,operation_count)
    return (False,-1,-1,-1,operation_count)

In [126]:
pytha_triplet(1000)

(True, 200, 375, 425, 1790786250)

#### Nested loops, but range for b is limited. It includes a<b<c.

In [ ]:
def pytha_triplet1(nums_sum:int):
    operation_count = 0
    for a in range(1, nums_sum):
        for b in range(a+1, nums_sum):
            c = nums_sum - a - b
            operation_count += 8
            if a**2 + b **2 == c**2:
                return (True, a, b, c, operation_count) 
    return (False, -1, -1, -1, operation_count)

In [127]:
pytha_triplet1(1000)

(True, 200, 375, 425, 1432608)

#### Another limits added to range for a and b

In [ ]:
def pytha_triplet2(nums_sum:int):  #n^2
    operation_count=0
    for a in range(1,nums_sum//3):
        for b in range(a+1,nums_sum//2):
            c=nums_sum-a-b
            operation_count+=14
            if a**2 + b**2 == c**2 and a+b+c==nums_sum:
                return(True,a,b,c,operation_count)

    return (False,-1,-1,-1,operation_count)

In [128]:
pytha_triplet2(1000)

(True, 200, 375, 425, 1114064)

#### Analitical approach

$$ a^{2} + b^{2} = c^{2} \\
a^{2} + 2ab + c^2 = c^{2} + 2ab \\
(a+b)^{2} = c^{2} + 2ab \\
\text{Assuming n is the perimeter of a triangle} \\
(n-c)^{2} = c^{2} + 2ab \\
$$

$$ \text{Having } 2ab = (n-c)^{2} - c^{2} \wedge a^{2} + b^{2} = c^{2} $$ we can get $$(a-b)^{2} = c^{2} - n^{2} + 2nc$$
We know that $$ a-b <0 $$ so using $$ a+b+c=n $$ we have $$ b = \frac{n-c-(a-b)}{2} \wedge a = n -b-c $$

In [152]:
def pytha_triplet3(nums_sum:int): #n
    operation_count=0
    for c in range(1,nums_sum):
        a_b_sqr= c**2 - nums_sum**2 + 2*nums_sum*c
        a_b= math.floor(math.sqrt(abs(a_b_sqr)))
        operation_count+=9

        if a_b**2 == a_b_sqr:
            b=(nums_sum - c + a_b)//2
            a= nums_sum - b - c
            operation_count+=7
            return(True,a,b,c,operation_count)
        else:
            operation_count+=2

    return (False,-1,-1,-1,operation_count)

In [153]:
pytha_triplet3(1000)

(True, 200, 375, 425, 4680)

## Testing another cases:

In [131]:
pytha_triplet(56)

(True, 7, 24, 25, 174960)

In [132]:
pytha_triplet1(56)

(True, 7, 24, 25, 2608)

In [133]:
pytha_triplet2(56)

(True, 7, 24, 25, 2212)

In [134]:
pytha_triplet3(56)

(True, 7, 24, 25, 255)

In [138]:
pytha_triplet(-56)

(False, -1, -1, -1, 0)

In [135]:
pytha_triplet(20)

(False, -1, -1, -1, 61731)

## Comparing the amount of time of finding a triplet:

In [121]:
%timeit pytha_triplet(1000)

2min 20s ± 2.4 s per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [123]:
%timeit pytha_triplet1(1000)

139 ms ± 10.3 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [124]:
%timeit pytha_triplet2(1000)

57.7 ms ± 2.03 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [125]:
%timeit pytha_triplet3(1000)

424 µs ± 10.1 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

### <span style="color:#D47FAC;"> <center> Link to our code: https://github.com/maggszy/date_algorithm/blob/main/list2/pitagoras.py </center> </span>